<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="max-width: 400px; width: 100%;">
    <form (submit)="onSubmit()" style="margin-top: 20px;">
    <div style="margin-bottom: 10px;">
      <label for="cedula" style="display: block; margin-bottom: 5px;">Cédula:</label>
      <input type="text" id="cedula" [(ngModel)]="formData.cedula" name="cedula" style="width: 100%; padding: 5px;" required>
    </div>

    <div style="margin-bottom: 10px;">
      <label for="password" style="display: block; margin-bottom: 5px;">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="formData.password" name="password" style="width: 100%; padding: 5px;" required>
    </div>

    <div style="margin-bottom: 10px;">
      <label for="nombre" style="display: block; margin-bottom: 5px;">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="formData.nombre" name="nombre" style="width: 100%; padding: 5px;" required>
    </div>

    <div style="margin-bottom: 10px;">
      <label for="email" style="display: block; margin-bottom: 5px;">Email:</label>
      <input type="email" id="email" [(ngModel)]="formData.email" name="email" style="width: 100%; padding: 5px;" required>
    </div>

    <div style="margin-bottom: 10px;">
      <label for="telefono" style="display: block; margin-bottom: 5px;">Teléfono:</label>
      <input type="text" id="telefono" [(ngModel)]="formData.telefono[0]" name="telefono" style="width: 100%; padding: 5px;" required>
    </div>

    <div style="margin-bottom: 10px;">
      <label for="ciudad" style="display: block; margin-bottom: 5px;">Ciudad:</label>
      <input type="text" id="ciudad" [(ngModel)]="formData.ciudad" name="ciudad" style="width: 100%; padding: 5px;" required>
    </div>

    <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px; border: none; cursor: pointer; width: 100%;">Registrar</button>
  </form>
</div>  
</div>